<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title data-th-text="${title}">Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container bg-gray-200">
      <h1 data-th-text="${name}" class="text-2 font-bold">
        Welcome to homepage
      </h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus et
        rerum odit hic sint, natus accusantium inventore magnam reprehenderit,
        praesentium voluptate molestiae obcaecati. Dolorem, at ipsam amet quas
        cumque esse.
      </p>
      <button class="bg-blue-500 text-white px-4 py-2">Click Me</button>

      <a
        href="#"
        class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
      >
        <h5
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          Noteworthy technology acquisitions 2021
        </h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">
          Here are the biggest enterprise technology acquisitions of 2021 so
          far, in reverse chronological order.
        </p>
      </a>
    </div>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
  </body>
</html>

42220100004382